%p#notice= notice
%h1 Listing Menus
%table
  %thead
    %tr
      %th.price Title&nbsp;
      %th Price&nbsp;
      %th{:colspan => "10"}
  %tbody
    - @menus.each do |menu|
      %tr
        %td= menu.title
        %td= menu.price
        %td
          = link_to 'Show', menu
          =link_to 'Edit', edit_menu_path(menu)
          = link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Menu', new_menu_path
