!!!
%html
  %head
    %title Lunch Ordering
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Lunch Ordering
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li= link_to 'Edit profile', edit_user_registration_path
              %li= link_to 'Logout', destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Sign up", new_user_registration_path
              %li= link_to 'Log in', new_user_session_path
    .container
      - if @cart
        .cart
          =render @cart
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      = yield
      .navbar-right.navbar-top
        %h3 Sidebar
        %ul.nav.nav-list
          - categories.each do |category|
            %li.reload= link_to category.name, root_path(filter: category.id)